<h1 class="title">To Do List</h1>

<div class="list">
  <% @tasks.each do |task| %>
    <div class="items">
      <h5><%=  link_to task.title, task_path(task) %></h5>
      <p><%= task.details %></p>
    </div>
  <% end %>
</div>

<%= link_to 'Create a new task', tasks_new_path %>