// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 2%;
  text-align: center;
  background-color: #D4EAEA;
}

.title {
  // text-decoration: underline;
  margin: 2%;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.items {
  text-align: left;
  color: black !important;
}

.link-orange {
  color: black;
}